.GradientCircleContainer {
  width: 8.75rem;
  height: 8.75rem;
  position: relative;
  margin: auto;
}

.GradientInnerCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 6.875rem;
  height: 6.875rem;
  background-color: #000;
  z-index: 1;
}

.GradientCircle {
  position: absolute;
  border-radius: 50%;
  width: 8.75rem;
  height: 8.75rem;
  background: linear-gradient(
    63.74deg,
    rgb(0, 84, 253) -16.64%,
    rgb(255, 25, 247) 18.08%,
    rgb(255, 46, 93) 49.91%,
    rgb(255, 200, 7) 87.53%,
    rgb(230, 185, 116) 122.25%,
    rgb(230, 185, 116) 122.25%
  );
  z-index: 0;
  animation: RotateInCenter 7s cubic-bezier(0.075, 0.82, 0.165, 1) both;
}

.GradientCircleContainer svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1 !important;
  z-index: 2;
  /* animation: RotateInCenterCanceller 5s cubic-bezier(0.075, 0.82, 0.165, 1) both; */
}

h3 {
  font-size: 3.5rem;
  margin-top: 2rem;
  text-align: center;
  letter-spacing: -2px;
}

.Hero h1 {
  font-size: 6.938rem;
  line-height: 1.5;
  text-align: center;
  margin-top: -25px;
  margin-left: auto;
  margin-right: auto;
  letter-spacing: -2px;
  display: block;
  background-size: 150%;
  background-image: url("../../media/Gradient.jpg");
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center top;
}

.Hero button {
  padding: 1px 1.75rem;
  height: 3.625rem;
  font-size: 1rem;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px;
  border-radius: 4px;
  color: #fff;
  background-color: transparent;
  display: flex;
  align-items: center;
  margin-top: 0.625rem;
  margin-left: auto;
  margin-right: auto;
  transition: 0.2s ease;
}

.Hero button:hover {
  background: linear-gradient(90deg, rgb(87, 34, 255) 0%, rgb(198, 3, 255) 70%);
  transform: translateY(-4px);
}

.Hero button svg {
  margin-right: 1.125rem;
}

.Hero button:hover {
  color: #fff;
  background-color: transparent;
}

@media screen and (max-width: 652px) {
  h3 {
    font-size: 1.75rem;
    letter-spacing: -1px;
  }

  .Hero h1 {
    margin-top: -10px;
    font-size: 3.5rem;
  }
}

@keyframes RotateInCenter {
  0% {
    transform: rotate(720deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes RotateInCenterCanceller {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
