.Footer {
  padding: 0 1.25rem;
}

.Footer .ButtonContainer {
  margin: 1.875rem 0;
  display: flex;
  justify-content: center;
}

.Footer button {
  margin: 1.375rem;
  color: #627898;
  opacity: 0.8;
  transition: 0.2s ease;
}

.Footer button:hover {
  color: #1f2a4b;
  opacity: 1;
}

.FooterText {
  border-top: 1px solid #627898;
  margin-top: 1.25rem;
  padding: 3.75rem 1.875rem;
}

.FooterText p {
  color: #fff;
  letter-spacing: -0.2px;
  font-size: 0.875rem;
  font-weight: 500;
  max-width: 42.5rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
}

@media screen and (max-width: 639px) {
  .Footer .ButtonContainer {
    flex-direction: column;
  }

  .FooterText {
    padding-left: 0.625rem;
    padding-right: 0.625rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
  }
}
